@font-face {
    font-family:"montserrat-bold";

    src: url("../fonts/Inter-Bold.otf") format("truetype");
  }

  @font-face {
    font-family:"montserrat-light";

    src: url("../fonts/Inter-Light.otf") format("truetype");
  }

  @font-face {
    font-family:"montserrat-medium";

    src: url("../fonts/Inter-Medium.otf") format("truetype");
  }

  @font-face {
    font-family:"montserrat-regular";

    src: url("../fonts/Inter-Regular.otf") format("truetype");
  }


 h2 {
    font-family: 'montserrat-bold';
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 28px;
    /* margin-top: 20px; */

    }

    p{
        font-family: 'montserrat-light';
        font-size: 14px;
        line-height: 20px;
        margin-top: 2px;
        margin-bottom: 2px;
    }


    h3{
        font-family:'montserrat-medium' ;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 25px;
        /* margin-top: 26px; */
        /* padding-left: 25px; */

    }

    p {
        margin-top: 4px;
        margin-bottom: 4px;
    }


    li{
        /* margin-top: 26px; */
    }

    li>h3{
        /* margin-top: 0px; */
        display: inline;
    }

    p2{
        display: block;
        font-family: 'montserrat-light';
        font-size: 13px;
        /* margin-top: 7px; */
        line-height: 18px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    ul{
        list-style-position: inside;
        list-style-type: disc;
        font-family: 'montserrat-light';
        font-size: 14px;
        line-height: 20px;
     }
     ol{
        list-style-position: inside;
        list-style-type: number;
        font-family: 'montserrat-light';
        font-size: 14px;
        line-height: 20px;
     }

     span{
        font-family: 'montserrat-regular';
     }

    @media(min-width:1024px){
        h2{
            font-size: 24px;
            line-height: 28px;
        }

        h3{
            font-family:'montserrat-medium' ;
            font-size: 20px;
            line-height: 27px;
            /* margin-top: 26px; */
            /* padding-left: 25px; */

        }

        p{
            font-size: 14px;
            line-height: 25px;
        }

        p2{
            font-size: 15px;
            line-height: 22px;
        }

        ul,ol{
            font-size: 14px;
            line-height: 25px;
        }
    }


    @media (min-width: 1536px) {
        h2{
            font-size: 24px;
            line-height: 33px;
        }

        h3{
            font-family:'montserrat-medium' ;
            font-size: 20px;
            line-height: 30px;
            /* margin-top: 26px; */
            /* padding-left: 25px; */

        }

        p{
            font-size: 16px;
            line-height: 27px;
        }

        p2{
            font-size: 17px;
            line-height: 24px;
        }

        ul,ol{
            font-size: 16px;
            line-height: 27px;
        }
    }
