@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"inter-regular";

    src: url("../../public/fonts/Inter-Regular.otf") format("truetype");
  }

  @font-face {
    font-family:"inter-medium";

    src: url("../../public/fonts/Inter-Medium.otf") format("truetype");
  }

  @font-face {
    font-family:"inter-light";

    src: url("../../public/fonts/Inter-Light.otf") format("truetype");
  }

  @font-face {
    font-family:"inter-bold";

    src: url("../../public/fonts/Inter-Bold.otf") format("truetype");
  }

  @font-face {
    font-family:"inter-semibold";

    src: url("../../public/fonts/Inter-SemiBold.otf") format("truetype");
  }
